{% extends "paginawebapp/base.html" %}

{% load static %}

{% block content %}
   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'paginawebapp/img/img3.jpeg' %}" alt="" style="width: 650%; max-width: 850px;">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">Vision</span>
            <span class="section-heading-upper">"Ser reconocida como una institución líder a nivel nacional e internacional, comprometida con la excelencia académica y la formación integral de profesionales éticos y responsables. Nos esforzamos por ser pioneros en la innovación educativa, inspirando a la comunidad académica a desafiar los límites del conocimiento, contribuyendo así al progreso global y al bienestar social." </span>
          </h2>
          <p class="mb-3">
          </p>
         
        </div>
      </div>
    </div>
  </section>

<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'paginawebapp/img/img1.jpeg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">Mision</span>
            <span class="section-heading-upper">"Nuestra misión es brindar una educación superior de calidad que promueva el desarrollo integral de nuestros estudiantes, inculcando valores fundamentales de responsabilidad, integridad y respeto. Fomentamos un ambiente académico inclusivo y diverso, donde la excelencia académica, la ética y la responsabilidad social son los cimientos. A través de la investigación innovadora y la colaboración global, buscamos no solo ampliar el conocimiento, sino también abordar de manera proactiva los desafíos globales, contribuyendo de manera significativa al progreso social y al bienestar humano." </span>
          </h2>
          <p class="mb-3">
          </p>

        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">Conectando Mentes Brillantes en la Academia NIKOLA TESLA: Más Allá de los Límites, Más Allá de las Expectativas."</p>
            </div>
          </div>
        </div>
      </div>
    </section>
   {% endblock %}